		body {
			box-sizing: border-box;
			padding: 100px;
			}
		p{
			width: 90%
			height: 90%;
			margin-right: auto;
			margin-left: auto;
			color: black;
			padding: 10px;
			font-family: sans-serif;
		}
		h1 {
			text-align: center;
			font-family: sans-serif;
		}
		.chicken, .sushi, .beef h2 {
			text-align: right;
			font-family: sans-serif;
		}
		.beef h2 {
			color: white;
		}
		.chicken {
			padding: 1px 15px;
			border-bottom: 1px solid black;
			border-left: 1px solid black;
			display: inline-block;
			background-color: pink;
			float: right;
		}
		.beef {
		padding: 1px 15px;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		display: inline-block;
		background-color: red;
		float: right;
		}
		.sushi {
		padding: 1px 15px;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		display: inline-block;
		background-color: yellow;
		float: right;
		}
		.row {
			width: 100%;
			height: 300px;
			}
		@media (min-width: 992px) {
			.lg-3 {
				float: left;
				border: 1px solid black;
				height: 100%;
				margin: 50px;
				
			}
			.lg-3 {
				width: 25%;
				background-color: gray;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
				.md-6, .md-12 {
				float: left;
				border: 1px solid black;
				margin: 6px;
				height: 100%;
			}
			.md-6 {
				width: 48%;
				background-color: gray;
			}
			.md-12 {
				width: 100%;
				background-color: gray;
			}
		}
		@media (max-width: 767px) {
			.sm-12{
				float: left;
				border: 1px solid black;
				margin: 5px;
			}
			.sm-12{
				width: 100%;
				background-color: gray;
			}
		}